---
import { Image } from 'astro:assets';
import type { InferEntrySchema, RenderedContent } from 'astro:content';
import { StripedPattern } from '@/components/pattern/striped-pattern';
import { BentoGrid, BentoGridItem } from '@/components/ui/bento-grid';
import { formatDate } from '@/lib/date';

interface Props {
	posts: ReadonlyArray<{
		id: string;
		body?: string;
		collection: 'blogCollection';
		data: InferEntrySchema<'blogCollection'>;
		rendered?: RenderedContent;
		filePath?: string;
	}>;
}

const { posts } = Astro.props;
---

<section class="container-fluid py-10">
	<BentoGrid client:load className="max-w-4xl mx-auto">
		{
			posts.map((post, index) => (
				<BentoGridItem
					id={post.id}
					className={
						post.data.title.length > 75
							? 'md:col-span-3'
							: post.data.title.length > 45
								? 'md:col-span-2'
								: 'md:col-span-1'
					}
					publishedAt={formatDate(post.data.publishedAt)}
					title={post.data.title}
				>
					{post.data.coverImage ? (
						<Image
							alt={post.data.coverAlt ?? ''}
							class="w-full h-40 object-cover rounded-lg hover:scale-102 hover:rotate-2 hover:z-10 transition duration-200"
							src={post.data.coverImage}
						/>
					) : (
						<StripedPattern
							className="relative h-40 w-full stroke-[0.3] [stroke-dasharray:8,4] rounded-lg dark:opacity-50 dark:[stroke-dasharray:4,2] dark:stroke-white/10"
							direction={index % 2 === 0 ? 'left' : 'right'}
						/>
					)}
				</BentoGridItem>
			))
		}
	</BentoGrid>
</section>
