---
import { DockNavigation } from '@/components/dock/navigation';
import Footer from '@/components/footer/footer.astro';
import GoogleAnalytics from '@/components/google-analytics.astro';
import SkipButton from '@/components/skip-button.astro';
import ThemeWatcher from '@/components/theme-watcher.astro';
import { cn } from '@/lib/utils';
import '@/styles/global.css';
import rubikFont from '@fontsource-variable/rubik/files/rubik-latin-ext-wght-normal.woff2?url';
import '@fontsource-variable/rubik/wght.css';
import { PUBLIC_GA_MEASUREMENT_ID } from 'astro:env/client';

interface Props {
	scrollSmooth?: boolean;
}

const { scrollSmooth = false } = Astro.props;
---

<html class={cn(scrollSmooth ? 'scroll-smooth' : undefined)} lang="en">
	<head>
		<meta charset="utf-8" />
		{import.meta.env.PROD && <GoogleAnalytics measurementId={PUBLIC_GA_MEASUREMENT_ID} />}
		<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href={rubikFont} />
		<slot name="metadata" />
	</head>

	<body>
		<ThemeWatcher />
		<SkipButton />

		<DockNavigation client:load />

		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
